<extend name="Public/base" />
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>会员信息</legend>
        <div class="layui-field-box">
            <form class="layui-form" action="">
                <if condition="isset($detail['id'])">
                    <input type="hidden" name="id" value="{$detail['id']}">
                </if>
                <div class="layui-form-item">
                    <label class="layui-form-label">会员id</label>
                    <div class="layui-input-inline">
                        <input type="text" name="app_name" disabled required value="{:(isset($person['userid'])?$person['userid']:'')}" lay-verify="required" placeholder="请输入信息" class="layui-input">
                    </div>
				
                </div>
			  <legend>个人认证</legend>
				<div class="layui-form-item">
                    <label class="layui-form-label">名字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="app_name" disabled required value="{:(isset($person['realname'])?$person['realname']:'')}" lay-verify="required" placeholder="请输入信息" class="layui-input">
                    </div>
					<label class="layui-form-label">联系电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="app_name" disabled required value="{:(isset($person['tel'])?$person['tel']:'')}" lay-verify="required" placeholder="请输入信息" class="layui-input">
                    </div>
                </div>
                 <legend>企业认证</legend>
				<div class="layui-form-item">
				
                    <label class="layui-form-label">公司名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="app_name" disabled required value="{:(isset($company['realname'])?$company['realname']:'')}" lay-verify="required" placeholder="请输入信息" class="layui-input">
                    </div>
					<label class="layui-form-label">联系电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="app_name" disabled required value="{:(isset($company['tel'])?$company['tel']:'')}" lay-verify="required" placeholder="请输入信息" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">企业认证图片</label>
                    <div class="layui-input-block">
                       <volist name="company['image']" id="vo">
					   <img style="width:200px" src="__ROOT__{$vo}"  />
					   </volist>
                    </div>
                </div>
                <!-- <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div> -->
            </form>
        </div>
    </fieldset>
</block>
<block name="myScript">
    <if condition="isset($detail['id'])">
        <input type="hidden" name="id" value="{$detail['id']}">
        <script>
            layui.use('form', function(){
                var form = layui.form();
                form.on('submit(formDemo)', function(data){
                    $.ajax({
                        type: "POST",
                        url: '{:U("edit")}',
                        data: data.field,
                        success: function(msg){
                            if( msg.code == 1 ){
                                parent.location.reload();
                            }else{
                                parent.layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                    return false;
                });

            });
        </script>
        <else />
        <script>
            layui.use('form', function(){
                var form = layui.form();
                form.on('submit(formDemo)', function(data){
                    $.ajax({
                        type: "POST",
                        url: '{:U("add")}',
                        data: data.field,
                        success: function(msg){
                            if( msg.code == 1 ){
                                parent.location.reload();
                            }else{
                                parent.layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                    return false;
                });

            });
        </script>
    </if>
</block>